@let taskData = task();

<div
  class="card card-side foreground shadow-xl cursor-pointer min-h-[300px] overflow-hidden flex flex-col justify-between hover:ring-2"
  [class.ring-2]="active()">
  <div class="card-body">
    <div class="card-title">
      <div class="font-semibold">{{ taskData.name }}</div>
    </div>

    <p>{{ taskData.description }}</p>
  </div>

  <div class="card-body">
    <div class="card-title">
      <div class="font-light">Heroes ({{ heroes().length }}/{{ taskData.maxHeroesAllocable }})</div>
    </div>

    <div class="h-[72px] flex flex-wrap">
      @for(hero of heroes(); track $index) {
      <app-task-hero-small [hero]="hero"></app-task-hero-small>
      }
    </div>
  </div>
</div>
