<div class="flex flex-row">
  <div class="flex flex-1 flex-row flex-wrap gap-2 p-1 card-content content-baseline">
    @for(hero of allHeroes(); track $index) {
    <div class="hero-container" [ngClass]="cardClasses()">
      <app-hero-display [hero]="hero" (click)="selectedHero.set(hero)" [clickable]="true"
        [active]="selectedHero()?.id === hero.id"></app-hero-display>
    </div>
    }
  </div>

  @if(selectedHero(); as activeHero) {
  <app-hero-display-tall class="flex-1 flex pl-3 p-1" [hero]="activeHero"
    (close)="selectedHero.set(undefined)"></app-hero-display-tall>
  }
</div>