@let activeHero = selectedHero();

<div class="flex flex-row">
  <div class="flex flex-1 flex-row flex-wrap gap-2 p-1 card-content content-baseline">
    @for(hero of allHeroes(); track $index) {
    <div class="hero-container" [ngClass]="cardClasses()">
      <app-hero-display [hero]="hero" (click)="selectedHero.set(hero)" [clickable]="true"
        [active]="selectedHero() === hero"></app-hero-display>
    </div>
    }
  </div>

  @if(activeHero) {
  <div class="flex flex-1 pl-3">
    <app-hero-display-tall [hero]="activeHero"></app-hero-display-tall>
  </div>
  }
</div>
