<div class="navbar bg-base-100 relative">
  <div class="navbar-start">
    <a class="btn btn-untextured btn-ghost text-xl relative" [routerLink]="['/game']">
      Heroic Ascension

      @if(meta.versionMismatch()) {
      <button class="btn btn-xs btn-primary absolute update-button" (click)="meta.update()">Update Available!</button>
      }
    </a>

    @if(isSetup()) {
    <ul class="menu menu-horizontal px-1">
      <li class="mr-1">
        <a [routerLink]="['/game/town']" [routerLinkActive]="'text-primary'">
          <ng-icon name="heroBuildingOffice2"></ng-icon> Town of {{ townName() }}
        </a>
      </li>

      <li class="mr-1">
        <a [routerLink]="['/game/heroes']" [routerLinkActive]="'text-primary'">
          <ng-icon name="heroUserGroup"></ng-icon> Heroes
        </a>
      </li>

      <li class="mr-1">
        <a [routerLink]="['/game/research']" [routerLinkActive]="'text-primary'">
          <ng-icon [name]="isResearching() ? 'heroBeaker' : 'heroSparkles'"></ng-icon> Research
        </a>
      </li>

      <li class="mr-1" [appHideIfNotResearched]="'Shopping Trip'">
        <a [routerLink]="['/game/shop']" [routerLinkActive]="'text-primary'">
          <ng-icon name="heroBuildingStorefront"></ng-icon> Shop
        </a>
      </li>
    </ul>
    }
  </div>

  @if(isSetup()) {
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li class="mr-1">
        <a [routerLink]="['/game/options']" [routerLinkActive]="'text-primary'">
          <ng-icon name="heroCog6Tooth"></ng-icon>
        </a>
      </li>
    </ul>
  </div>
  }

  <app-resource-list class="absolute w-full flex justify-center resource-list"></app-resource-list>
</div>