@let heroData = hero();

<div class="card card-side foreground shadow-xl" [class.hover:ring-2]="clickable()"
  [class.hover:cursor-pointer]="clickable()" [class.ring-2]="active()">
  <figure class="max-w-[96px] pl-2">
    <img src="./hero/temp/heroface.png" alt="test face" />
  </figure>

  <div class="card-body p-2">
    <div class="flex-1 flex flex-col">
      <div class="font-semibold">{{ heroData.name }}</div>
      <div class="italic">
        Level {{ heroData.level }} / {{ heroData.maxLevel }}
        [{{ heroData.xp / heroData.maxXp | percent }}]
      </div>

      <div class="text-sm">
        <app-damage-type [damage]="heroData.stats.force" [id]="heroData.damageTypeId"></app-damage-type>
      </div>
    </div>
  </div>
</div>
