@let activeHero = hero();

<div class="card foreground-2 shadow-xl flex-1">
  <div class="card-body">
    <div class="absolute portrait">
      <app-hero-art [id]="activeHero.id" [size]="256"></app-hero-art>
    </div>

    <div class="card-title">
      {{ activeHero.name }}
    </div>

    <app-hero-level-tagline [hero]="activeHero"></app-hero-level-tagline>

    <app-hero-damage-type [hero]="activeHero"></app-hero-damage-type>

    <div class="flex">
      <app-hero-stats-table class="flex-1" [hero]="activeHero" [showDeltas]="false"></app-hero-stats-table>

      <div class="flex-1"></div>
    </div>

    <app-hero-archetype-list [hero]="activeHero"></app-hero-archetype-list>

    <app-hero-attribute-list [hero]="activeHero"></app-hero-attribute-list>

    <app-hero-task-level-list [hero]="activeHero"></app-hero-task-level-list>
  </div>
</div>
