@let activeTask = task();

<div class="card foreground shadow-xl flex-1 m-1" [class.ring-red-500]="threatened()" [class.ring-1]="threatened()">
  <div class="card-body overflow-hidden">
    <div class="h-[128px]">
      <div class="absolute top-2 right-2 z-50">
        <app-button-close (click)="close.emit()"></app-button-close>
      </div>

      <div class="card-title flex items-center">
        <app-damage-type-breakdown [damageType]="taskDamageType()"></app-damage-type-breakdown>
        {{ activeTask.name }}

        @if(threatened()) {
        <ng-icon name="tablerAlertOctagon" color="red" size="1em"
          tp="This building is threatened by an incoming attack. If you can't generate enough Fortifications before the attack hits, your heroes will get stunned and your building will lose a level."></ng-icon>
        }

        @if(maxTasklevel() > 0) {
        <app-level-display [currentLevel]="taskLevel()" [maxLevel]="maxTasklevel()"></app-level-display>
        }
      </div>

      <div class="min-h-[72px]">
        {{ activeTask.description }}
      </div>

      <div class="card-title flex justify-between items-center">
        <div class="ml-2 flex items-center">
          @if(canChangeModes()) {
          <button class="btn btn-secondary btn-xs mr-4" [class.btn-outline]="currentMode() !== 'heroes'"
            (click)="currentMode.set('heroes')">
            Heroes ({{ heroes().length }}/{{ maxHeroes() }})
          </button>
          } @else {
          <div class="font-light">Heroes ({{ heroes().length }}/{{ maxHeroes() }})</div>
          }

          <app-task-synergy class="ml-2" [task]="activeTask"></app-task-synergy>
        </div>

        @if(canChangeModes()) {
        <button class="btn btn-secondary btn-xs mr-4" [class.btn-outline]="currentMode() !== 'upgrades'"
          (click)="currentMode.set('upgrades')">Upgrades</button>
        }
      </div>
    </div>

    @if(currentMode() === 'heroes') {
    <div class="overflow-y-auto p-1">
      @for(hero of allHeroes(); track hero.id) {
      <div class="card card-side foreground-2 shadow-xl mb-4 mr-2" [appHeroSpecialGlow]="hero"
        (click)="selectHero(hero)" (keydown.enter)="selectHero(hero)" tabindex="1"
        [class.ring-2]="isHeroSelected(hero)">
        <figure class="max-w-[96px] pl-2 flex items-center">
          <app-hero-status [hero]="hero" class="absolute top-2 left-2"></app-hero-status>
          <app-hero-art class="max-h-[96px]" [id]="hero.id" [size]="96" [mood]="heroMood(hero)"></app-hero-art>
        </figure>

        @if(!canAssignHeroToTask(hero)) {
        <app-blur-card text="Hero cannot be assigned to this task." class="absolute"></app-blur-card>
        }

        @if(!canUnassignHeroFromTask(hero)) {
        <app-blur-card text="Hero cannot be unassigned from this task." class="absolute"></app-blur-card>
        }

        <div class="card-body p-1 pl-3 cursor-pointer" [class.no-assign]="!canAssignHeroToTask(hero)">

          <div class="card-title flex items-center">
            {{ hero.name }}
            <app-level-display [currentLevel]="hero.level"></app-level-display>
            <app-hero-fusion-indicator [hero]="hero"></app-hero-fusion-indicator>
          </div>

          <div>
            <app-damage-type [id]="hero.damageTypeId" [damage]="hero.stats.force"></app-damage-type>
          </div>

          <app-hero-archetype-list [hero]="hero"></app-hero-archetype-list>

          <app-hero-assignment [hero]="hero"></app-hero-assignment>

          <div class="absolute right-[32px] top-0 bottom-0 flex content-center items-center">
            <input type="checkbox" class="checkbox checkbox-primary" [checked]="isHeroSelected(hero)" />
          </div>
        </div>
      </div>
      }
    </div>
    }

    @if(currentMode() === 'upgrades') {
    <div class="overflow-y-auto p-1">
      @for(upgrade of unpurchasedUpgrades(); track upgrade.id) {
      <div class="card card-side foreground-2 shadow-xl mb-4 mr-2 p-3">
        <div class="card-body p-1 pl-3">
          <div class="card-title flex items-center">
            {{ upgrade.name }}
          </div>

          <div>
            {{ upgrade.description }}
          </div>

          <div class="flex gap-2">
            @for(resCost of upgrade.costs; track $index) {
            <app-resource-display [id]="resCost.resourceId" [value]="resCost.value"></app-resource-display>
            }
          </div>

          <div class="absolute right-[32px] top-0 bottom-0 flex content-center items-center">
            <button class="btn btn-primary btn-sm" [disabled]="!canBuyUpgrade(upgrade)"
              (click)="buyUpgrade(upgrade)">Buy</button>
          </div>
        </div>
      </div>
      }


      @for(upgrade of purchasedUpgrades(); track upgrade.id) {
      <div class="card card-side foreground-2 shadow-xl mb-4 mr-2 p-3 opacity-50">
        <div class="card-body p-1 pl-3">
          <div class="card-title flex items-center">
            {{ upgrade.name }}
          </div>

          <div>
            {{ upgrade.description }}
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
