<app-page-card>
  <span header>
    Recruit New Heroes ({{ currentHeroCount() }}/{{ currentHeroCap() }})

    <app-countdown class="ml-1" [secondsLeft]="secondsUntilReset()" label="Reset in"></app-countdown>
  </span>

  <div pageactions class="flex items-center">
    <button class="btn btn-sm btn-secondary" [disabled]="!canReroll()" (click)="doReroll()">
      @if(isRerollOnTimeout()) {
      <span class="loading loading-spinner loading-xs"></span>
      } @else {
      Reroll for {{ rerollCost() | number }} Food
      }
    </button>
  </div>

  <div class="flex flex-wrap gap-2">
    @for(hero of currentHeroPool(); track $index) {
    <div class="flex-1 min-w-[30%] m-1">
      @if(hero) {
      <div class="card foreground shadow-xl" [appHeroSpecialGlow]="hero">
        <div class="card-body">
          <div class="absolute top-5 right-5">
            <app-hero-art [id]="hero.id" [size]="240"></app-hero-art>
          </div>

          <div class="card-title">
            {{ hero.name }}
          </div>

          <app-hero-level-tagline [hero]="hero" [showXp]="false"></app-hero-level-tagline>

          <app-damage-type [damage]="hero.stats.force" [id]="hero.damageTypeId"></app-damage-type>

          <app-hero-archetype-list [hero]="hero"></app-hero-archetype-list>

          <div class="flex">
            <app-hero-stats-table class="flex-1" [hero]="hero"></app-hero-stats-table>

            <div class="flex-1"></div>
          </div>

          <app-hero-task-level-list [hero]="hero"></app-hero-task-level-list>

          <div class="card-actions">
            <button class="btn btn-primary" [disabled]="!canRecruit()"
              (click)="selectedHero.set(hero); recruitSwal.fire();">
              Recruit for {{ recruitCost() | number }} Food
            </button>

            <swal #recruitSwal [title]="'Recruit ' + hero.name" [text]="recruitDesc(hero)" icon="question"
              [showCancelButton]="true" [focusCancel]="true" (confirm)="recruitHero(hero, $index)">
            </swal>
          </div>
        </div>
      </div>
      } @else {
      <div class="card foreground shadow-xl recruited-already h-full">
        <div class="card-body">
          <div class="card-title">
            Recruited Hero
          </div>

          You recruited this hero already.
        </div>
      </div>
      }
    </div>
    }
  </div>
</app-page-card>