<app-page-card>
  <span header>
    Town Tasks

    @if(shouldShowCountdown()) {
    <app-countdown class="ml-1" [secondsLeft]="secondsUntilAttack()" label="Attack in"
      [tp]="defenseTooltip()"></app-countdown>
    }
  </span>

  <div pageactions class="flex items-center gap-2">
    @if(numIdle() > 0) {
    <span class="ml-2 badge badge-warning">You have {{ numIdle() }} idle heroe(s)!</span>
    }

    <label class="form-control">
      <select class="select select-bordered select-sm" [(ngModel)]="activeSort">
        <option [value]="'alphabetical'">
          Alphabetical
        </option>
        <option [value]="'numallocated'">
          # Allocated
        </option>
        <option [value]="'damagetype'">
          Damage Type
        </option>
      </select>
    </label>
  </div>

  <app-task-list [tasks]="taskOrder()"></app-task-list>
</app-page-card>
