@for(hero of explorerParty(); track $index) {
<div class="card card-side foreground shadow-xl">
  <figure class="max-w-[96px] pl-2">
    <app-hero-art [id]="hero.id" [size]="96"></app-hero-art>
  </figure>

  <div class="card-body p-2">
    <div class="flex-1 flex flex-col">
      <div class="font-semibold">{{ hero.name }}</div>
      <div class="italic">
        <progress class="progress progress-success w-56" [value]="hero.currentHp" [max]="hero.stats.health"></progress>

        <div class="text-sm">
          <app-damage-type [damage]="hero.stats.force" [id]="hero.damageTypeId"></app-damage-type>
        </div>
      </div>
    </div>
  </div>
</div>
}
