@let heroData = hero();

<div class="card card-side foreground-2 cursor-pointer shadow-xl hover:ring-2" [appHeroSpecialGlow]="heroData">
  <figure class="max-w-[96px] pl-2">
    <app-hero-art [id]="heroData.id" [size]="96"></app-hero-art>
  </figure>

  <div class="card-body p-2">
    <div class="flex-1 flex flex-col">
      <div class="font-semibold">{{ heroData.name }} <app-level-display
          [currentLevel]="heroData.level"></app-level-display></div>

      <div class="text-sm">
        <app-hero-damage-type [hero]="heroData"></app-hero-damage-type>
      </div>

      <app-hero-archetype-list [hero]="heroData"></app-hero-archetype-list>
    </div>
  </div>
</div>
