@if(editable()) {
<div class="flex align-center">
  <span>
    {{ damage() | number }}
  </span>

  <app-damage-type-breakdown [damageType]="thisDamageType()"></app-damage-type-breakdown>

  @if(isEditing()) {
  <select class="select select-bordered select-xs mx-1" [(ngModel)]="id" (ngModelChange)="isEditing.set(false)">
    @for(damageType of unlockedDamageTypes(); track $index) {
    <option [value]="damageType.id">{{ damageType.name }}</option>
    }
  </select>
  }

  @else {
  <button class="btn btn-xs mx-1" (click)="isEditing.set(true)" appAnalyticsClick="Hero:ChangeDamageType">
    <app-content-name [id]="id()"></app-content-name>
  </button>
  }

  <span>Damage</span>
</div>
}

@else {
<div class="flex align-center">
  <span>{{ damage() | number }}</span>

  <app-damage-type-breakdown [damageType]="thisDamageType()"></app-damage-type-breakdown>

  <app-content-name [id]="id()"></app-content-name>

  <span class="ml-1">Damage</span>

</div>
}
