@let activeHero = liveHeroData();

@if(activeHero) {
<div class="card foreground shadow-xl flex-1">
  <div class="card-body">
    <div class="absolute top-5 right-5">
      <app-hero-art [id]="activeHero.id"></app-hero-art>
    </div>

    <div class="card-title">
      {{ activeHero.name }}
    </div>

    <app-hero-level-tagline [hero]="activeHero"></app-hero-level-tagline>

    <app-damage-type [damage]="activeHero.stats.force" [id]="activeHero.damageTypeId" [editable]="canEditHeroStats()"
      (idChange)="changeMainCharacterType($event)"></app-damage-type>

    <app-hero-assignment [hero]="activeHero"></app-hero-assignment>

    <app-hero-archetype-list [hero]="activeHero"></app-hero-archetype-list>

    <div class="flex">
      <app-hero-stats-table class="flex-1" [hero]="activeHero"></app-hero-stats-table>

      <div class="flex-1"></div>
    </div>

    <app-hero-task-level-list [hero]="activeHero"></app-hero-task-level-list>

    @if(canDismissHero()) {
    <div class="card-actions">
      <button class="btn btn-error" [swal]="deleteSwal">Dismiss Hero</button>
    </div>
    }
  </div>
</div>
}

<swal #deleteSwal title="Dismiss Hero?"
  text="This cannot be undone. Are you sure you want to dismiss this hero? You will not be able to get this hero back, ever! Probably."
  icon="warning" [showCancelButton]="true" [focusCancel]="true" (confirm)="dismissHero()">
</swal>
