@let activeHero = liveHeroData();

@if(activeHero) {
<div class="card foreground shadow-xl flex-1">
  <div class="card-body">
    <div class="absolute top-5 right-5">
      <app-hero-art [id]="activeHero.id"></app-hero-art>
    </div>

    <div class="card-title">
      {{ activeHero.name }}
    </div>

    <app-hero-level-tagline [hero]="activeHero"></app-hero-level-tagline>

    <app-damage-type [damage]="activeHero.stats.force" [id]="activeHero.damageTypeId" [editable]="canEditHeroStats()"
      (idChange)="changeMainCharacterType($event)"></app-damage-type>

    <app-hero-assignment [hero]="activeHero"></app-hero-assignment>

    <app-hero-archetype-list [hero]="activeHero"></app-hero-archetype-list>

    <div class="flex">
      <app-hero-stats-table class="flex-1" [hero]="activeHero"></app-hero-stats-table>

      <div class="flex-1"></div>
    </div>

    <app-hero-task-level-list [hero]="activeHero"></app-hero-task-level-list>
  </div>
</div>
}
