@let activeHero = liveHeroData();

@if(activeHero) {
<div class="card foreground shadow-xl flex-1" [appHeroSpecialGlow]="activeHero">
  <div class="card-body">
    <div class="absolute top-2 right-2 z-50">
      <app-button-close (click)="close.emit()"></app-button-close>
    </div>

    <div class="absolute portrait">
      <app-hero-art [id]="activeHero.id" [size]="192"></app-hero-art>
    </div>

    <div class="card-title">
      <div class="flex items-center gap-2">
        {{ activeHero.name }}

        <span [appHideIfNotResearched]="'Name Rater'">
          @if(!activeHero.isSpecial) {
          <button class="btn btn-xs btn-ghost btn-untextured" tp="Rename this hero" [swal]="renameSwal">
            <ng-icon name="tablerTag"></ng-icon>
          </button>

          <swal #renameSwal title="Rename Hero" text="Enter a new name for this hero." input="text"
            [confirmButtonText]="'Rename!'" [inputAttributes]="{ maxlength: '25' }" [inputValue]="activeHero.name"
            (confirm)="renameHero($event)">
          </swal>
          }
        </span>
      </div>
      <app-hero-status [hero]="activeHero"></app-hero-status>
    </div>

    <app-hero-level-tagline [hero]="activeHero"></app-hero-level-tagline>

    <app-damage-type [damage]="heroForce()" [id]="activeHero.damageTypeId" [editable]="canEditHeroStats()"
      (idChange)="changeMainCharacterType($event)"></app-damage-type>

    <app-hero-assignment [hero]="activeHero"></app-hero-assignment>

    @if(!canUseItemsOnThisHero()) {
    <div class="text-error italic">
      Cannot use items on this hero currently.
    </div>
    }

    <div class="flex">
      <app-hero-stats-table class="flex-1" [hero]="activeHero"></app-hero-stats-table>
      <app-hero-stat-infusion-table class="flex-1" [hero]="activeHero"></app-hero-stat-infusion-table>
    </div>

    <app-hero-buff-list [hero]="activeHero"></app-hero-buff-list>

    <app-hero-archetype-list [hero]="activeHero"></app-hero-archetype-list>

    <app-hero-attribute-list [hero]="activeHero"></app-hero-attribute-list>

    <app-hero-task-level-list [hero]="activeHero"></app-hero-task-level-list>

    <div class="card-actions justify-between mt-4">
      <div class="flex items-center">
        @let canClickForXP = canGiveClickXp();
        <button class="btn btn-primary" [disabled]="!canClickForXP" (click)="giveXp()"
          tp="This action magically infuses the hero with experience, as a gift from above. This action has a 5 second cooldown."
          [appAnalyticsClick]="'Hero:GiveXP:' + xpOnClick()">

          @if(!canClickForXP) {
          <div class="absolute w-full">
            <span class="loading loading-spinner loading-xs"></span>
          </div>
          }

          <div [class.invisible]="!canClickForXP">
            Give +{{ xpOnClick() }} XP
          </div>
        </button>

        @if(hasItems()) {
        <button class="btn btn-info ml-2" (click)="showItemPanel.emit()" [disabled]="!canUseItemsOnThisHero()"
          [appAnalyticsClick]="'Hero:UseItems:' + heroDamageType(activeHero)">
          Use Items
        </button>
        }

        <button class="btn btn-info ml-2" (click)="showSkillPanel.emit()" [appHideIfNotResearched]="'Houses III'"
          [appAnalyticsClick]="'Hero:ShowSkills'">
          View Skills
        </button>

      </div>

      @if(canDismissHero()) {
      <button class="btn btn-error" [swal]="deleteSwal"
        [appAnalyticsClick]="'Hero:Dismiss:' + heroDamageType(activeHero)">Dismiss Hero</button>
      }
    </div>
  </div>
</div>
}

<swal #deleteSwal title="Dismiss Hero?"
  text="This cannot be undone. Are you sure you want to dismiss this hero? You will not be able to get this hero back, ever! Probably."
  icon="warning" (confirm)="dismissHero()" [confirmButtonText]="'Dismiss Hero'">
</swal>
