@let researchData = research();

<div class="card card-side foreground shadow-xl cursor-pointer min-h-[250px] overflow-hidden" [class.ring-2]="active()">
  <div class="card-body">

    @if(active()) {
    <ng-icon name="heroStar" class="absolute top-5 right-5 text-primary"></ng-icon>
    }

    <div class="card-title">
      @let unlocks = unlockedResearch();
      <div class="font-semibold" [class.has-help]="unlocks.length > 0" [tp]="tooltip"
        [tpIsEnabled]="unlocks.length > 0">
        {{ researchData.name }}
      </div>

      <ng-template #tooltip>
        <div class="font-bold mb-2">Unlocks</div>

        @for(research of unlocks; track $index) {
        <div>{{ research.name }}</div>
        }
      </ng-template>
    </div>

    <p>{{ researchData.description }}</p>
  </div>

  <div class="absolute bottom-4 left-0 right-0 flex items-center justify-center gap-2">
    <ng-icon name="heroBeaker"></ng-icon> {{ currentResearch() }} / {{ researchData.researchRequired }}
  </div>

  <div class="absolute bottom-[-7px] left-0 right-0">
    <progress class="progress progress-secondary w-full" [value]="completion()" max="100"></progress>
  </div>
</div>